:root {
  /* Color pallet */
  --dark-one: #002437;
  --dark-two: #004965;
  --dark-three: #007a9d;
  --dark-four: #00b8e1;
  --dark-five: #00ffff;
  --white-text: #d4f7ec;
  --typed-dark: #090934;
}
.bg-dark {
  background-color: #024770 !important;
}

.logo {
  width: 4.25rem;
}

/**************** NAVBAR ************************/
nav a.nav-link {
  letter-spacing: 0.0375;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  padding-right: 0.8rem;
  margin-left: 0.8rem;
  color: var(--white-text) !important;
  text-decoration: none;
  border-top: 0.125rem solid #024770;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.125rem solid var(--dark-three);
}

.navbar-nav > li > a:hover {
  border-top: 0.125rem solid var(--dark-five);
}

/**************** HEADER ************************/
nav {
  z-index: 2;
}

.header-wrapper {
  position: relative;
  background: url(../icons/arch-linux-logo-minimal-art-blue-background-technology.jpeg)
    no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 50%;
  top: 0;
}
.main-info h1 {
  color: var(--white-text);
  text-transform: uppercase;
}
/**************** TYPED TEXT ************************/

.typed-text {
  font-size: 2rem;
  color: var(--typed-dark);
}

.btn-main-offer {
  border: 1px solid var(--dark-three);
  text-transform: uppercase;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--white-text);
  margin: 2rem;
  text-decoration: none;
}
.btn-main-offer:hover {
  color: var(--white-text);
}

/**************** PATICLES ************************/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
