// vars
$primary_white: #fff;

//
.logo {
  width: 4.25rem;
}

nav {
  ul {
    li {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      width: 320px;
      a {
        text-transform: uppercase !important;
      }
    }
  }
}
.navLink {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.navLink {
  letter-spacing: 0.0375;
  cursor: pointer;
  text-decoration: none;
  color: $primary_white;
}
.navLink:hover {
  color: $primary_white;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}
.navLink {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.navLink:hover {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  //   border-top: 0.1875rem solid #007bc7;
}
